.wrapper {
    /* color: white; */
    position: relative;
    top: 40px;
    display: none;
    justify-content: center;
    align-items: flex-end;
    height: 550px;
    width: 640px;
    background-color: white;
    /* background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 0, 255, .6)), color-stop(100%, rgba(0, 255, 255, .6))); */
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#testButton {
    background-color: transparent;
    border: none;
    height: inherit;
    width: inherit;
    padding: 0;
    border-radius: 20px;
}

#testButton:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit
}

.left-right:focus {
    outline: none;
}

.search:focus {
    outline: none;
}

.submit:focus {
    outline: none;
}

#navbar {
    height: 48px;
    width: 100%;
    background-color: white;
    /* background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 0, 255, .6)), color-stop(100%, rgba(0, 255, 255, .6))); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    /* border: 1px solid white; */
}

#prev-next-wrap {
    display: none;
    width: 770px;
    position: absolute;
    justify-content: space-between;
    top: 380px;
    filter: invert(100%);
}

#arr-a {
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
}

#arr-b {
    height: 50px;
    width: 50px;
}

.left-right {
    background-color: transparent;
    border: none;
}

.nav-item {
    margin: 0 10px;
}

#logo {
    font-size: 22px;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .16);
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 85vh; */
    height: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.query {
    display: flex;
    justify-content: center;
}

.doggo-img {
    border: 1px solid white;
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 375px;
    width: 500px;
}

.col-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.info-row {
    display: flex;
}

.data-box {
    display: flex;
    justify-content: flex-start;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Assistant', sans-serif;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 0, 255, .5)), color-stop(100%, rgba(0, 255, 255, .5)));
}

.search {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 0, 255, .6)), color-stop(100%, rgba(0, 255, 255, .3)));
}

::placeholder {
    color: white;
}

.submit {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 0, 255, .6)), color-stop(100%, rgba(0, 255, 255, .3)));
}

.col {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.col-c {
    display: flex;
    font-size: 14px;
}

#info-wrapper {
    padding-bottom: 30px;
    width: 500px;
}

#dog-temperament {
    display: flex;
    flex-wrap: nowrap;
}

#name-wrap {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    width: 100%;
    font-size: 30px;
}